body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url(../img/fundo1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.back {
    margin-left: 3.5%;
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-div{
    display: flex;
    height: 780px;
}
/**/
.space-div{
    padding-top: 100px;
    padding-bottom: 250px;
    text-align: center;
    
}
.space-div h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 250px;
    line-height: 00px;
}
.space-div-a a{
    margin: 0 100px;
}
/**/
.left-home {
    width: 65%;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-home {
    width: 35%;
    background-image: url(../img/interiorclinic.png); /* Substitua pelo URL da sua imagem */
    background-size: cover;
    background-position: center;
}
h1 {
    font-weight: 100;
    font-size: 1.0em;
    margin: 0;
}
h2 {
    font-weight: 100;
    font-size: 6.5em;
    margin: 10px 0;
}
.button {
    margin: 10px 0;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    border-bottom: solid 1px rgb(37, 37, 37);
}
/* parte 2 da pagina */
.parte2{
    background-color: #ffffff;
    height: 780px;
    display: flex;
}
.parte2-div-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.parte2-div-right p{
    width: 450px;
    line-height: 35px;
    margin: 100px 0 80px 50px;
    font-size: 1.3em;
}
.parte2-div-right a{
    font-size: 1.5em;
}
/**/
.btn {
    background-color: #022adf;
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 50px;
}
/**/
.parte2-div-left {
    width: 50%;
}
.parte2-div-left h1{
    width: 240px;
    font-size: 3.0em;
    margin: 100px;
}
.parte2-div-left img{
    margin: 0 0 90px 90px;
    border-radius: 9px;
    width: 480px;
    height: auto;
}
/* final/inicio da parte 3*/
.parte3 {
    background-color: #f5f5f5;
    display: flex;
    height: 780px;
}
.parte3-div-left {
    width: 50%;
}
.parte3-div-left img{
    width: 380px;
    margin: 220px 150px 0 150px;
    border-radius: 10px;
}
.parte3-div-right {
    width: 50%;
}
.parte3-div-right h1{
    margin: 100px 0 80px 100px;
    width: 380px;
    font-size: 3.0em;
}
.parte3-div-right p{
    width: 450px;
    line-height: 35px;
    margin: 100px 0 80px 100px;
    font-size: 1.3em;
}
/* final/inico parte4*/
.parte4 {
    background-color: #ffffff;
    display: flex;
    height: 780px;
}
.parte4-div-left {
    width: 50%;
}
.parte4-div-left p{
    margin: 0 100px;
    font-size: 1.3em;
    line-height: 30px;
}
.parte4-div-left h1{
    margin: 60px 100px;
    width: 480px;
    font-size: 2.8em;
}
.parte4-div-right {
    width: 50%;
}
.parte4-div-right img{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 60px 140px;
}
.parte4-div-right a{
    margin-left: 250px;
    padding: 16px;
    background-color: #002fff;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
}
/*Final/inicio parte5*/
.parte5 {
    display: flex;
    height: 760px;
    padding: 50px;
    background-color: #f5f5f5;
}
.parte5-div-left {
    width: 50%;
    border-right: solid rgba(138, 138, 138, 0.651);
}
.parte5-div-right {
    width: 50%;
}

.parte5-div-left h1{
    margin: 60px 100px;
    width: 480px;
    font-size: 2.8em;
}
.parte5-div-left p{
    width: 470px;
    line-height: 35px;
    margin: 40px 0 40px 80px;
    font-size: 1.3em;
}
.parte5-div-right h1{
    margin: 60px 100px;
    width: 480px;
    font-size: 2.8em;
}
.parte5-div-right p{
    width: 450px;
    line-height: 35px;
    margin: 105px 0 30px 80px;
    font-size: 1.3em;
}

/*Final/inicio parte6*/
.parte6{
    background-color: #131313;
    color: #f3f3f3;
    height: 950px;
}
.parte6-div1 {
    display: flex;
    padding: 20px;
}
.parte6-div-left {
    width: 50%;
}
.parte6-div-right {
    width: 50%;
}
.parte6-div-left h1{
    margin: 50px 100px;
    width: 480px;
    font-size: 3.0em;
}
.parte6-div-left h2{
    margin: 0 0 10px 100px;
    font-size: 10.0em;
    width: auto;
    height: 100px;
}
.parte6-div-left p{
    width: 450px;
    line-height: 25px;
    margin: 0 0 0px 100px;
    font-size: 1.2em;
}
.parte6-div-right h2{
    margin: 150px 0 10px 100px;
    font-size: 10.0em;
    width: auto;
    height: 100px;
}
.parte6-div-right p{
    width: 450px;
    line-height: 25px;
    margin: 0px 100px 40px 100px;
    font-size: 1.2em;
}
.parte6-div2 {
    margin: 0 100px;
    border-top: solid rgba(199, 199, 199, 0.616)
}
.parte6-div2 p{
    width: 400px;
    line-height: 25px;
    padding-top: 60px;
    margin: 0 100px 60px 15px;
    font-size: 1.2em;
}
.btn-ajuda {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 100px;
}

/*Final/inicio parte6*/
.parte7 {
    padding-top: 50px;
    display: flex;
    background-color: #ffffff;
}
.parte7-div-left {
    width: 700px;

}
.parte7-div-left h1 {
    font-size: 2.5em;
    padding: 100px;
}
.parte7-div-left img{
    padding: 0 00px 100px 100px;
    width: 450px;

}
.parte7-div-right {
    padding: 250px 100px 0px 100px;
}
.parte7-div-right h2{
    font-size: 1.5em;
}