body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)),url(../img/fundo1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.back {
    margin-left: 2.5%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffffef;
    color: white;
    padding: 15px 0;
    text-align: center;
    z-index: 1000; /* Garante que a barra fique acima de outros elementos */
}
.btn {
    font-size: 1.2em;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    margin: 0 20px;
}
.conteudo {
    padding-top: 25px;
    height: 580px;
    background-color: rgb(243, 243, 243);
}
.conteudo-h1-1{
    margin: 100px 20px 60px 40px;
    font-size: 2.5em;
}
.conteudo-p-1{
    margin: 0 300px 30px 40px;
    font-size: 1.2em;
    line-height: 30px;
}

/* final/segunda parte*/

.conteudo2 {
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 0 300px 30px 40px;
}
.conteudo2-h1-1{
    margin: 100px 20px 60px 0px;
    font-size: 2.5em;
}
.conteudo2-p-1{
    font-size: 1.2em;
    line-height: 30px;
}
.conteudo2-p-2{
    font-size: 0.9em;
    line-height: 25px;
}

.conteudo3 {
    background-color: aliceblue;
    height: auto;
    padding: 0 300px 30px 40px;
}
.conteudo3 p{
    line-height: 24px;
}
.conteudo4 {
    background-color: rgb(255, 255, 255);
    height: 510px;
    display: flex;
}
.conteudo4-left {
    padding: 0px;
    width: 50%;
}
.conteudo4-left h1{
    line-height: 24px;
    width: 700px;
    padding: 0 20px;
}
.conteudo4-left h2{
    width: 700px;
    padding: 0 20px;
}
.conteudo4-left p{
    line-height: 24px;
    padding: 0 20px;
    width: 570px;
}
.conteudo4-right {
    display: flex;
    border-left: solid 2px rgba(92, 92, 92, 0.589);
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.conteudo4-right p{
    line-height: 28px;
    font-size: 1.2em;
    width: 400px;
    padding: 50px;
}
.btn2 {
    background-color: #db3300;
    color: #ffffff;
    font-size: 1.4em;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
}
